# =========================
# Android / Gradle
# =========================
.gradle/
build/
app/build/

# Local config
local.properties

# =========================
# APK / AAB / Builds
# =========================
*.apk
*.aab
*.ap_

# =========================
# Java / Kotlin
# =========================
*.class
*.dex

# =========================
# Logs
# =========================
*.log

# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml
.navigation/
captures/

# =========================
# Native build
# =========================
.externalNativeBuild/
.cxx/

# =========================
# Keystore
# =========================
*.jks
*.keystore

# =========================
# Gradle cache (IMPORTANT)
# =========================
.gradle-user-home/

# =========================
# Google services (optional)
# =========================
google-services.json